* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
  margin-bottom: 1rem;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}

li {
  text-align: center;
}

.flag {
  font-size: 10rem;
}