* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

article {
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 2rem;
}

img {
  border-radius: 50%;
}

h1::before, h1::after {
  content: '';
  background-color: turquoise;
  height: 0.25rem;
  display: block;
  margin: 1rem 0;
}

p {
  cursor: pointer;
}

p::before {
  content: 'Fancy!';
  display: block;
  position: relative;
  bottom: 100%;
  left: 0;
  padding: 0.5rem 0.75rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  color: white;
  background-color: blueviolet;
  width: fit-content;
  margin-bottom: 0.25rem;
  visibility: hidden;
}

p:hover::before {
  visibility: visible;
}

p:hover::after {
  content: '';
  display: block;
  margin: 0.25rem auto;
  outline: 0.05rem solid goldenrod;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

ul > li {
  display: inline-block;
  background-color: turquoise;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

ul > li:hover {
  background-color: aquamarine;
}

footer > small {
  color: gray;
  font-size: 0.65rem;
}