#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  border: 1px solid black;
  border-radius: 0.6em;
}

.user-card {
  padding: 1rem;
}

div + div {
  margin-top: 1rem;
}

button {
  display: inline;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: mediumseagreen;
}

button + button {
  margin-left: 0.25rem;
}

img {
  border-radius: 50%;
}
