#root {
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  place-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.mini-card {
  padding: 1rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
