* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  width: 500px;
  height: 400px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  background-color: salmon;
  width: max-content;
  margin-top: 5px;
  padding: 3px;
  font-family: monospace;
  height: max-content;
}