* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  width: 500px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  background-color: salmon;
  width: max-content;
  padding: 3px;
  /* font-family: monospace; */
  height: max-content;
}

.bar + .bar {
  margin-top: 5px;
}