* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  background-color: mediumturquoise;
}

section {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

input {
  padding: 0.5rem 1rem;
}

button {
  margin-top: 1rem;
  border-radius: 0.25rem;
  border: none;
}

footer {
  text-align: center;
  color: gray;
  font-size: 0.85rem;
}