.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkslategray;
  height: 100vh;
}

img {
  display: block;
  width: 10rem;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
