body {
  margin: 1rem;
  font-size: 16px;
}

header, main, footer {
  border: 1px solid black;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0 0.5rem 1rem;
}

small {
  display: inline-block;
  margin-bottom: 1rem;
}

.App {
  text-align: center;
}
