* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  font-size: 14px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumturquoise;
}

p {
  margin-bottom: 3rem;
}

.form {
  display: flex;
  gap: 0.5rem;
  justify-content: center ;
  align-items: center;
  margin-bottom: 1rem;
}

input {
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border: none;
  outline: none;
}

[type=submit] {
  background-color: salmon;
  color: white;
  padding: 0.5rem 2rem;
}