* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  text-align: center;
}

body {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alertbox {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.alertbox--warning {
  color: red;
}

.alertbox--warning:hover {
  background-color: goldenrod;
}

.alertbox--sucess {
  color: green;
}

.alertbox--sucess:hover {
  background-color: yellow;
}