* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  border: 1px solid black;
}

h1, h2, h3, p {
  margin: 0.75rem;
}