#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 200px;
  border-radius: 50%;
}

footer {
  background-color: #888;
}

.dark {
  background-color: #1f1f1f;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
