#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100px;
  border-radius: 50%;
}

.dark {
  background-color: #1e1e1e;
  color: white;
}

.light {
  background-color: white;
  color: black;
}


small {
  margin-bottom: 1rem;
}